svg.map {
	stroke-linecap: round;
	stroke-linejoin: round;
	path.graticule {
		fill: none;
		stroke: #0002;
		stroke-width: 1px;
	}
	path.jurisdiction {
		fill: lightgrey;
		stroke: #0002;
		stroke-width: 1px;
		&:hover {
			fill: darkgrey;
		}
	}
	circle.city {
		fill: #0001;
		stroke: darkblue;
		stroke-width: 2px;
	}
	rect.background {
		fill: #0061;
	}
}
